.youtube {
    width: 99%;
    height: 300px;
}

.youtubeContainer {
    width: 85%;
}


@media screen and (min-width: 993px) {
    .youtube {
        height: 605px;
    }

    .youtubeContainer {
        width: 70%;
    }
}